#wrapper {
  width: 760px;
  height: 560px;
  background-color: #3498db;
  margin:0 auto;
  overflow: hidden;
}
#map {
  width: 700px;
  height: 500px;
  background-color: #ccc;
  margin: 30px auto;
}
