@media only screen and (max-width: 600px) {
  .quote {
    font-size: 80%;
  }

  .lefthalfcontent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .righthalfcontent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 100%;
  }

  .footer{
    overflow: wrap;
  }

  .icons {
    display: none;
  }

  .resume {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 100%;
  }

  .gallery {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .polaroid {
    font-size: small;
    border-radius: 4px;
    padding: 10px;
  }
}