a:link, a:visited {
	color: black;
  text-decoration: none;
  padding: 1px 12px;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  color:  #3498db ;
  text-decoration: none;
}

.quote{
	font-family:'Bad Script', cursive;
	font-size: large;
	color: #3498db;
  text-align: center;
}

h1 {
  text-align: center;
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
	font-weight: 300;
  font-size: x-large;
}

h2 {
  text-decoration: underline;
}

.navigation{
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
	font-weight: 300;
  text-align: center;
  font-size: small;
}

.lefthalfcontent{
  width: 38%;
  min-height: 100%;
  float: left;
  position: relative;
	font-family:'Poppins', sans-serif; 
	text-align: right;
  font-size: 2.5em;
  text-align: center;
  margin-left: 10%;
  margin-right: 2%;
  padding-top: 2%;
}

.righthalfcontent{
  width: 40%;
  min-height: 100%;
  float: right;
  position: relative;
	font-size: 1.6em;
	font-family: 'Poppins', sans-serif;  
  text-align: left;
  margin-right: 10%;
}

.resume{
  width: 40%;
  min-height: 100%;
  float: right;
  position: relative;
	font-family: 'Poppins', sans-serif;  
  text-align: left;
  margin-right: 10%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 2%;
}

#welcome {
  width: 70%;
}

.footer{
	clear: both;
	color:  #3498db;
	text-align: center;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  height: 50px;
  line-height: 50px;
  position: relative;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  display:inline;
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

video {
  max-width: 100%;
  height: auto;
}

.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 65%;
  height: auto;
  color: white;
  position: relative;
}

.polaroid {
	border-radius: 2px;
  background-color: black;
  padding: 20px;
  font-family:'Poppins', sans-serif;
  margin-bottom: 20px;
}

.icons {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#welcome {
  width: 100%;
}